/**
 * @file
 * Styles for Bootstrap Barrio page.
 */

#main {
    background-color: $white;
    margin-top: 0;
    padding-top: $spacer;
}

.featured-bottom .container {
    background-color: $white;
}

#content > .section {
    padding: 15px;

    .field--name-body {
        margin-bottom: 50px;
    }
    .field--type-entity-reference {
        margin: 0;
        .field__item {
            margin: 0;
            background-color: $accent-shade;
            padding: 0.75rem;
            border-radius: 5%;

            a {
                color: $white;

                &:hover {
                    text-decoration: none;
                }
            }

            @media screen and (max-width: 575px) {
                max-width: 150px;
            }
        }
    }
    .field--name-field-previous a:before {
        content: '\f060';
        display: inline-block;
        font-family: FontAwesome;
        padding-right: 15px;
    }
    .field--name-field-next {
        text-align: right;

        a:after {
            content: '\f061';
            display: inline-block;
            font-family: FontAwesome;
            padding-left: 15px;
        }
    }
    .block-social-media-links {
        margin: 50px auto;
        width: 15rem;
    }
    .social-media-links--platforms {
        text-align: center;
    }
    .fa-5x {
        font-size: 2rem;
        background-color: $accent-secondary;
        padding: 0.5rem;
        width: 4rem;
        color: $white;
        border-radius: 5%;
    }
}