/* ------------------ Sidebar ----------------- */

.sidebar {
    background-color: $accent-shade;

    .section {
        background-color: $white;
        border-radius: 5px;
        margin: 40px 0 50px;
    }
    .block {
        border-radius: 5px;
        border-style: solid;
        border-width: $border-width;
        padding: 0 $spacer $spacer;
        margin: 0 0 $spacer;
        .content {
            font-size: $font-size-base;
            line-height: $line-height-sm;
        }
    }
    h2 {
        color: $white;
        margin: 0 -16px ($spacer * .5) -16px;
        background-color: $gray;
        border-bottom: $border-width solid $border-color;
        padding: $spacer;
        font-size: 18px;
        line-height: $headings-line-height;
    }
    tbody {
        border: none;
    }
    tr.even,
    tr.odd {
        background: none;
        border-bottom: $border-width solid $border-color;
    }
    #edit-privacy {
        font-size: 0.9rem;
    }
}